._*
*~
venv
__pycache__/
*.pyc
.vscode/
output
**/.terraform
*.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
