name: how.wtf CI

on:
  push:
    branches:
    - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
        token: ${{ secrets.GH_TOKEN }}
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_wrapper: false
    - uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1
    - uses: peaceiris/actions-hugo@v2
      with:
        extended: true
    - name: Install dependencies
      run: |
        sudo apt-get update -y && sudo apt install -y \
          libimage-exiftool-perl \
          jpegoptim \
          optipng \
          graphicsmagick-imagemagick-compat
    - name: Deploy global infrastructure
      shell: bash
      run: ENV=global make deploy
    - name: Deploy website
      shell: bash
      run: ENV=prod make all
